<div class="registry-container">
  <div class="registry-card">
    <h1>Gifts &amp; Registry</h1>
    <p>
      We are so thrilled to share our wedding day with you! Your love and support truly mean everything to us. Having you there to celebrate is what we have been looking forward to most!
    </p>
    <p>
      If you would like to mark the occasion with a gift, we have set up a small honeymoon and home‑fund to help us make our first days as a married couple even more special. Of course, your presence is the greatest gift of all, and we can not wait to celebrate together.
    </p>
    <p class="signature">With all our love,<br>Rosemary &amp; John</p>
  </div>
</div>
