<nav>
  <ul class="navbar">
    <li>
      <a routerLink="/home" routerLinkActive="active">John &amp; Rosemary</a>
    </li>
    <li>
      <a routerLink="/location" routerLinkActive="active">Location &amp; Getting There</a>
    </li>
    <li>
      <a routerLink="/schedule" routerLinkActive="active">Schedule of Events</a>
    </li>
    <li>
      <a routerLink="/registry" routerLinkActive="active">Gifts &amp; Registry</a>
    </li>
    <li>
      <a routerLink="/dress" routerLinkActive="active">Dress Code</a>
    </li>
    <li>
      <a routerLink="/menu" routerLinkActive="active">Menu</a>
    </li>
  </ul>
</nav>
